<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>This is a simple to-do list application, where we can save things we need to do.</p>
  <!-- <p><a class="btn btn-primary btn-lg"  role="button">Learn more</a></p> -->
</div>
